html
    head
        title= title
        style
            include index.css
    body
        table(class="table-sort")
            thead
                tr
                    th Synth ↕️
                    th Total Supply ↕️
                    th Price ↕️
                    th Frozen ↕️
                    th Leverage ↕️
                    th Fee ↕️
                    th Oracle Threshold ↕️
                    th Suggested Fee ↕️
                    th Risk Factor ↕️
            tbody
                each s in synths
                    tr(class = s.rateIsFrozen ? "frozen" : "")
                        td= s.synth
                        td= s.totalSupply
                        td= s.rateForSynth
                        td= s.rateIsFrozen
                        td= s.leverage
                        td= s.fee
                        td= s.clThreshold
                        td= s.suggestedFee
                        td(class = s.risky ? "risky" : "")= s.riskFactor
script(src="/table-sort.js")
